<div class="section" id="footer">
    <div class="container col-12 d-flex" style="flex-wrap: wrap; flex-direction: row;">
        <div class="col-6 justify-content-start d-flex">
            <a href="#top"><img src="{{ "img/logos/PP_color_horizontal.png" | absURL}}" class="imagen-footer" alt="Pedro Puerta" style=" box-shadow: 0 0 0 0; border: 0;"></a>
        </div>
        <div class="div col-2"></div>
        <div class="col-4 justify-content-end d-flex" style="flex-wrap: wrap;">
            <div class="social-icons-footer">
                {{ range .Site.Params.social }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }} style="text-decoration: none;" target="_blank">
                    <i class="{{ .icon_pack}} fab fa-{{ .icon}} social-iconos-footer" style="margin: 5px 10px; font-size: 1.8rem !important; color: {{.color}}"></i>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
