{{ with .Site.GetPage "/jingles" }}
<div class="section" id="{{ .Title | urlize }}">
    <!-- Begin Blog container -->
    <div class="container p-0 computadora-video">
        {{ if .Site.Params.home.showLatest | default true }}
        <h2 class="title is-2 has-text-centered mb-1">Jingles</h2>
        <h5 class=" has-text-centered pb-3">Audios</h5>
        <div class="container-fluid row m-0 p-0 justify-content-center d-flex">
            {{ range first 3 .Pages.ByPublishDate.Reverse }}
            <div class="summary d-flex row mx-1 my-1" style=" border: 1px solid gray;box-shadow: 0 0 10px gray; width: 32%; flex: 0 0 auto;"><!--{{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}{{ end }}-->
                <h3 class="title is-3 latest-post-title justify-content-start d-flex mt-3 mb-1">
                    {{ .Title | markdownify }}
                </h3>
                <h3 class="title is-5 latest-post-title justify-content-start d-flex mb-2">
                    {{.Params.Subtitle}}
                </h3>
                <div class="container my-3 justify-content-center d-flex row">
                    <audio controls="">
                        <source src="{{.Params.linkVideo | absURL}}" type="audio/mp3">Su navegador no es compatible con el elemento de audio.
                    </audio>
                </div> 
                    <!--{{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .Permalink }}">{{ i18n "index_blog_readMore" . }}</a>
                    {{ end }}-->
            </div>
            {{ end }}
        </div>    
        {{ end }}
    </div>


    <!-- TELEFONO-->
    <div class="container p-0 telefono-video">
        {{ if .Site.Params.home.showLatest | default true }}
        <h2 class="title is-2 has-text-centered mb-1">Jingles</h2>
        <h5 class=" has-text-centered pb-3">Audios</h5>
        <div class="container-fluid row m-0 p-0 justify-content-center d-flex">
            {{ range first 3 .Pages.ByPublishDate.Reverse }}
            <div class="summary d-flex row mx-1 col-12 my-1" style=" border: 1px solid gray;box-shadow: 0 0 10px gray;"><!--{{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}{{ end }}-->
                <h3 class="title is-3 latest-post-title justify-content-start d-flex mt-3 mb-1">
                    {{ .Title | markdownify }}
                </h3>
                <h3 class="title is-5 latest-post-title justify-content-start d-flex mb-2">
                    {{.Params.Subtitle}}
                </h3>
                <div class="container my-3 justify-content-center d-flex row">
                    <audio controls="">
                        <source src="{{.Params.linkVideo | absURL}}" type="audio/mp3">Su navegador no es compatible con el elemento de audio.
                    </audio>
                </div> 
                    <!--{{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .Permalink }}">{{ i18n "index_blog_readMore" . }}</a>
                    {{ end }}-->
            </div>
            {{ end }}
        </div>    
        {{ end }}
    </div>
</div>
   <!-- {{ if .Site.Params.home.showAllPosts }}
    <div class="section" id="all-posts">
        <div class="container">
            <h2 class="title is-2 top-pad">{{ i18n "index_blog_allPosts" . }}</h2>
            {{if .Site.Params.home.allPostsArchiveFormat}}
                {{ partialCached "blog/archive.html" .}}
            {{else}}
                {{ partialCached "blog/li.html" . }}
            {{end}}
        </div>
    </div>
    {{ else }}
        <div class="container has-text-centered top-pad">
            <a href="{{ .Permalink }}">{{ i18n "index_blog_allPosts" . }}</a>
        </div>
    {{ end }}
    -->
<!-- End Blog container -->
{{ partial "top-icon.html" . }}

<!-- End Blog section -->
<div class="container"><hr></div>
{{ end }}
